<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
    <h2 th:text="'Owners List'">Owners</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <th style="width: 150px;" th:text="${owner?.id}">1</th>
                <th style="width: 150px;" th:text="${owner?.firstName}">John</th>
                <th style="width: 150px;" th:text="${owner?.lastName}">Buck</th>
            </tr>
        </tbody>
    </table>
</body>
</html>